<nav>

    <div class="nav-wrapper">
        <div class="container">
            <a href="#!" class="brand-logo">Nuktas Music</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a><i class="material-icons left">speaker</i>Music</a></li>
                <li><a><i class="material-icons left">file_upload</i>Upload</a></li>
                <li>
                    <a>
                        <div class="chip">
                            <img src="assets/images/df.png" alt="Contact Person"> Sivuyile

                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <ul class="side-nav" id="mobile-demo">

        </ul>


    </div>
</nav>
<main>
    <div class="container">
        <div class="row">
            <div class="col s12 head-cont">
                <mz-input-container class="col s12">
                    <!-- <i mz-icon-mdi mz-input-prefix [icon]="'mail'">
                    </i> -->
                    <!-- <i class="material-icons left">music_note</i><span class="grey-text">TOP SONGS</span> -->
                    <input mz-input [label]="'TOP SONGS'" id="input" placeholder="Search a Song here" length="30" type="text">
                </mz-input-container>
            </div>

            <div class="col s3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/1.jpg">
                        <span class="card-title"></span>
                    </div>
                </div>
                <h5 class="grey-text center">Maguwa</h5>
            </div>
            <div class="col s3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/1.jpg">
                        <span class="card-title"></span>
                    </div>
                </div>
                <h5 class="grey-text center">Maguwa</h5>
            </div>
            <div class="col s3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/1.jpg">
                        <span class="card-title"></span>
                    </div>
                </div>
                <h5 class="grey-text center">Maguwa</h5>
            </div>
            <div class="col s3">
                <div class="card">
                    <div class="card-image">
                        <img src="assets/images/1.jpg">
                        <span class="card-title"></span>
                    </div>
                </div>
                <h5 class="grey-text center">Maguwa</h5>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Faqs</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Privacy &amp; Terms</a></li>
                    <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 Copyright Nuktas Music


            <a class="grey-text text-lighten-4 right" href="#!">made at ApplicAfro</a>


        </div>
    </div>
</footer>